<div class="image">
  <div class="container">
    <h1 class="d-flex justify-content-center" style="color: crimson">
      AADHAR APPLICATION
    </h1>
    <a
      type="button"
      class="d-inline btn btn-outline-danger"
      routerLink="/userlogin"
    >
      Citizen Login</a
    >&nbsp;&nbsp;New User?<a routerLink="/register">Register Here</a>
    <br />
    <br />
    <a
      type="button"
      class="d-inline btn btn-outline-danger"
      routerLink="/adminlogin"
    >
      Admin Login
    </a>
  </div>
</div>
